body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%); 
}
#center{
	text-align: center;
	padding: 30px;
  font-size: 40px;
}
textarea{
  height: 100px;
  width: 1000px;
	font-size: 25px;
}
button{
	cursor: pointer;
	width: 250px;
	background-color: purple;
    border: none;
    color: lightblue;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 20px 2px;
    cursor: pointer;
}
button:hover {
  background-color: lightblue; 
  color: purple;
}

#textboxid
{
  height: 100px;
  width: 1000px;
  font-size: 14pt;
}
